body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(41, 113, 207);
    
}
#container {
    display: block;
    /* justify-content: center;
    align-items: center; */
    border: 2px solid #ccc;
    padding: 20px;
    background-color: black;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
}
#container-2{
       display: flex;
       flex-direction: row;
       gap: 30px;
       
}
#cal{
    width: 70px;
}
input {
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
}
#container-3{
    display: block;
}
.box4{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    margin: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}